h1 {
    color:mediumpurple
}

.box {
    background-color: aqua;
    width: 500px;
    height: 500px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 10%;
}

.box:hover {
    background-color: aquamarine;
}